<div class="absolute inset-0 flex overflow-hidden">
    <mat-drawer-container class="bg-card h-full flex-auto dark:bg-transparent">
        <!-- Drawer -->
        <mat-drawer class="w-full dark:bg-gray-900 md:w-160" [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="true" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex w-full flex-col gap-y-4 overflow-auto p-6">
            <div class="flex flex-wrap gap-4 text-3xl">
                <div class="flex flex-initial items-center gap-x-2">
                    <div class="font-mono text-4xl font-semibold text-primary opacity-80">
                        จัดการ
                    </div>
                </div>

                <div class="flex flex-auto items-center justify-end gap-x-2">
                    <div class="w-auto">
                        <button mat-flat-button class="ml-4 w-auto bg-[#22c55e] rounded-lg text-white"
                            (click)="onOpenCreate()" name="create_user">
                            <span class="ml-2 mr-1">เพิ่มข้อมูล</span>
                        </button>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>

            @if((members$ | async); as memberResp) {
            <div class="sm:overflow-visible overflow-x-auto w-full">
                <!-- Table for displaying members -->
                <table class="min-w-full table-auto border-collapse">
                    <thead>
                        <tr class="border-b">
                            <th class="px-4 py-2 text-left">ชื่อ</th>
                            <th class="px-4 py-2 text-left">อีเมล์</th>
                            <th class="px-4 py-2 text-left">สถานะ</th>
                            <th class="px-4 py-2 text-left">การดำเนินการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Loop through members and display data -->
                        <tr *ngFor="let member of memberResp">
                            <td class="px-4 py-2">{{ member.name }}</td>
                            <td class="px-4 py-2">{{ member.email }}</td>
                            <td class="px-4 py-2">{{ member.status }}</td>
                            <td class="px-4 py-2">
                                <button (click)="onEdit(member)">แก้ไข</button>
                                <button (click)="onDelete(member)">ลบ</button>
                                <button (click)="onUpdateStatus(member)">อัพเดตสถานะ</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            }
        </mat-drawer-content>
    </mat-drawer-container>
</div>
