<div class="flex w-full flex-auto flex-col">
    <div class="mx-auto flex w-full max-w-screen-xl flex-wrap p-6 md:p-8">
        <!-- Title and action buttons -->
        <div class="flex w-full items-center justify-between">
            <div>
                <h2 class="text-3xl font-semibold leading-8 tracking-tight">
                    System dashboard
                </h2>
                <div class="text-secondary font-medium tracking-tight">
                    Keep track of your tasks and transactions
                </div>
            </div>
            <div class="ml-6 flex items-center">

                
            </div>
        </div>

        <div class="mt-8 grid w-full grid-cols-1 gap-8 xl:grid-cols-2">
            <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">
                <!-- Previous statement -->
                
                <!-- Current statement -->
                
            </div>
            
        </div>

        <div class="mt-8 grid w-full grid-cols-1 gap-8 xl:grid-cols-3">
            <!-- Recent transactions table -->
            
        </div>
    </div>
</div>
